@model IEnumerable<Price.Model.PriceDTO>

<link href="~/css/Price.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prices</h2>

<p>
    <a asp-action="Create" class="btn btn-default"><i class="fa fa-plus"></i> New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="dateColumn">
                @Html.DisplayNameFor(model => model.dateAdded)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.dramName)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.size)
            </th>
            <th class="currencyColumn">
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th class="currencyColumn">
                @Html.DisplayNameFor(model => model.tax)
            </th>
            <th class="currencyColumn">
                @Html.DisplayNameFor(model => model.shipping)
            </th>
            <th class="currencyColumn">
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th class="commentColumn">
                @Html.DisplayNameFor(model => model.comment)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="dateColumn">
                @Html.DisplayFor(modelItem => item.dateAdded)
            </td>
            <td class="textColumn">
                @Html.ActionLink(item.dramName, "Details", "Scotch", new { id = item.scotchId })
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.size)
            </td>
            <td class="currencyColumn">
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td class="currencyColumn">
                @Html.DisplayFor(modelItem => item.tax)
            </td>
            <td class="currencyColumn">
                @Html.DisplayFor(modelItem => item.shipping)
            </td>
            <td class="currencyColumn">
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td class="commentColumn">
                @Html.DisplayFor(modelItem => item.comment)
            </td>
        </tr>
}
    </tbody>
</table>
