@model Tasting.Model.TastingDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasting Note for @Html.DisplayFor(model => model.dramName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateAddedPretty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateAddedPretty)
        </dd>
        <dt>
            @if (Model.thirdParty)
            {
                <span>Source</span>
            }
            else
            {
                @Html.DisplayNameFor(model => model.location)
            }
        </dt>
        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.palate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.palate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.finish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.finish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Back</a>
</div>
