@model IEnumerable<Tasting.Model.TastingDTO>

<link href="~/css/TastingList.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Tastings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasting Notes</h2>


<table class="table">
    <thead>
        <tr>
            <th class="openColumn"></th>
            <th class="dateColumn">
                @Html.DisplayNameFor(model => model.dateAddedPretty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dramName)
            </th>
            <th class="ratingColumn">
                @Html.DisplayNameFor(model => model.personal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.nose)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.palate)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.finish)
            </th>
            <!-- <th class="editColumn"></th> -->
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="openColumn">
                <a href="@Url.Action("Details", new {id = item._id})" class=""><i class="far fa-folder-open"></i></a>
            </td>
            <td class="dateColumn">
                @Html.DisplayFor(modelItem => item.dateAddedPretty)
            </td>
            <td class="textColumn">
                @Html.ActionLink(item.dramName, "Details", "Scotch", new { id = item.scotchId })
            </td>
            <td class="instockColumn check-mark">
                @if (item.personal)
                {
                    <i class="fa fa-check"></i>
                }
            </td>
            <td class="ratingColumn">
                <div>
                    @for (var i = 1; i <= item.rating; i++)
                    {
                        <div class="star">
                            <i class="fas fa-star"></i>
                        </div>
                    }
                    @for (var j = item.rating + 1; j <= 5; j++)
                {
                        <div class="star">
                            <i class="far fa-star"></i>
                        </div>
                    }
                </div>
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.nose)
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.palate)
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.finish)
            </td>
            <!--<td class="editColumn">
                @Html.ActionLink("Edit", "Edit", new { id = item._id }, new { @class = "btn-xs btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = item._id }, new { @class = "btn-xs btn-default" })
            </td> -->
        </tr>
}
    </tbody>
</table>
