@model WishListDetails.Model.WishListDetailsDTO

@{
    ViewData["Title"] = "Wish List Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.wishlist.wishListName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.wishlist.description):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.wishlist.description)
        </dd>
    </dl>
</div>

<h3>Scotches</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.scotches[0].dramName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var scotch in Model.scotches)
        {
            <tr>
                <td>
                    @Html.ActionLink(scotch.dramName, "Details", "Scotch", new { id = scotch._id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = scotch._id }, new { @class = "btn-sm btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="hidden">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
</div>
<div>
    <a href="@ViewBag.returnUrl" class="btn btn-default">Back</a>
</div>

