@model IEnumerable<Scotch.Model.ScotchDTO>

<link href="~/css/ScotchList.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Scotches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scotches</h2>

<p>
    <a asp-action="Create" class="btn btn-default"><i class="fa fa-plus"></i> New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="openColumn"></th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.distillerName)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.flavor)
            </th>
            <th class="">
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.style)
            </th>
            <th class="textColumn">
                @Html.DisplayNameFor(model => model.region)
            </th>
            <th class="instockColumn">
                @Html.DisplayNameFor(model => model.inStock)
            </th>
            <th class="ratingColumn">
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th class="editColumn"></th>

        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="openColumn">
                <a href="@Url.Action("Details", new {id = item._id})" class=""><i class="far fa-folder-open"></i></a>
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.distillerName)
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.flavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.style)
            </td>
            <td class="textColumn">
                @Html.DisplayFor(modelItem => item.region)
            </td>
            <td class="instockColumn check-mark">
                @if (item.inStock)
                {
                    <i class="fa fa-check"></i>
                }
            </td>
            <td class="ratingColumn">
                <div>
                    @for (var i = 1; i <= item.rating; i++)
                    {
                        <div class="star">
                            <i class="fas fa-star"></i>
                        </div>
                    }
                    @for (var j = item.rating + 1; j <= 5; j++)
                    {
                        <div class="star">
                            <i class="far fa-star"></i>
                        </div>
                    }
                </div>
            </td>
            <td class="editColumn">
                @Html.ActionLink("Edit", "Edit", new { id = item._id }, new { @class = "btn-xs btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = item._id }, new { @class = "btn-xs btn-default" })
            </td>
        </tr>
    }
    </tbody>
</table>
